<section class="todoapp">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div class="blocks" fxFlex = "20%"></div>
  		<div class="blocks" fxFlex = "60%">
        <app-todo-list-header (add)="onAddTodo($event)"></app-todo-list-header>

        <app-todo-list [todos]="todos" (toggleComplete)="onToggleTodoComplete($event)"
        (remove)="onRemoveTodo($event)"></app-todo-list>

        <app-todo-list-footer [todos]="todos"></app-todo-list-footer>
      </div>
  		<div class="blocks" fxFlex></div>
    </div>
  </div>
</section>
